<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- IFileChcker：检查类型，实现了接口 FileChecker.IFileChcker 的对象都可以用
              FileChecker.FileStatusChecker： 文件是否存在
              FileChecker.ExcelColumnChecker：Excel 文件的某字段是否匹配
    -->
    <add key="IFileChecker" value="FileChecker.ExcelColumnChecker" />
    <!-- BaseDirectory：基础目录，可空 -->
    <add key="BaseDirectory" value="" />
    <!-- SkipRow：跳过行数 -->
    <add key="SkipRow" value="1" />
    <!-- ValueColumnIndex：文件路径的列下标 -->
    <add key="ValueColumnIndex" value="0" />
    <!-- FileListFilename：要对比的文件路径，非空，支持 txt,xls,xlsx,csv -->
    <add key="FileListFilename" value="notfund_2019_11_08_14_24_12.txt" />
    <add key="ExcelFilename" value="fileList.xlsx" />
    <!-- 要对比的 Excel 标题名称 -->
    <add key="ExcelFetchKeyname" value="ListDocPath" />
  <!-- 文件类型绑定，格式：txt,FileChecker.TxtFileReader|xlsx,FileChecker.ExcelFileReader-->
    <add key="IFileReaders" value=""/>
  <!-- end of 文件类型绑定 -->
  </appSettings>

</configuration>